{% extends getPartial('page-design') %}

{% set showDefaultHomepage = config("Ceres.default.homepage") %}
{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set companyName  = config("Ceres.header.company_name") %}


{% block PartialHead %}
    <meta property="og:title" content="{{ companyName }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}" />
    <meta property="og:image" content="{% if ('http' in companyLogo) or ('layout/' in companyLogo) %}{{ companyLogo }}{% else %}{{ plugin_path('Ceres') }}/{{ companyLogo }}{% endif %}" />

    <link rel="canonical" href="{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}{{ item.documents[0].data | itemURL }}">

    <script type="application/ld+json">{"@context": "http://schema.org","@type": "WebSite","url": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}","potentialAction":{"@type": "SearchAction","target": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}/search?query={search_term}","query-input": "required name=search_term"}}</script>
{% endblock %}

{% block PageBody %}

<div class="container-max">
	<div class="row">
		<div class="col-md-4">
			1
		</div>
		<div class="col-md-4">
			2
		</div>
		<div class="col-md-4">
			<button type="button" class="btn btn-primary btn-block">Primary</button>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			6
		</div>
		<div class="col-md-6">
			6
		</div>
	</div>
</div>

{% endblock %}

