{% extends getPartial('page-design') %}

{% set showDefaultHomepage = config("Ceres.default.homepage") %}
{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set companyName  = config("Ceres.header.company_name") %}


{% block PartialHead %}
    <meta property="og:title" content="{{ companyName }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}" />
    <meta property="og:image" content="{% if ('http' in companyLogo) or ('layout/' in companyLogo) %}{{ companyLogo }}{% else %}{{ plugin_path('Ceres') }}/{{ companyLogo }}{% endif %}" />

    <link rel="canonical" href="{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}{{ item.documents[0].data | itemURL }}">

    <script type="application/ld+json">{"@context": "http://schema.org","@type": "WebSite","url": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}","potentialAction":{"@type": "SearchAction","target": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}/search?query={search_term}","query-input": "required name=search_term"}}</script>
{% endblock %}

{% block PageBody %}

<div class="container-fluid"><div class="row">
			
			
			<div class="col-md-6 margin-bottom-2">
				<div class="msqr-xs-6 msqr-md-12">
					<div class="feat feat-teleport Paintball">
						<img class="bg-img" src="/images/gallery/welcome-page/HP_eishockey.jpg" data-big-img="/images/gallery/welcome-page/HP_eishockey.jpg"/>
						<div class="content"><a href="https://www.conos-store.de/paintball/" class="btn btn-primary glyph glyph-next">Eishockey</a></div>
					</div>
				</div>
			</div>
			
			
		
			
			
			<div class="col-md-6 margin-bottom-2">
				<div class="msqr-xs-6 msqr-md-12">
					<div class="feat feat-teleport Airsoft">
						<img class="bg-img" src="/images/gallery/welcome-page/HP_tennis.jpg" data-big-img="/images/gallery/welcome-page/HP_tennis.jpg"/>
						<div class="content"><a href="https://www.conos-store.de/airsoft/" class="btn btn-primary glyph glyph-next">Tennis</a></div>
					</div>
				</div>
			</div>
			
			
		
	</div>
	<div class="row">
		
			
			
			
			<div class="col-sm-4 margin-bottom-1 ">
				<div class="msqr-xs-6 msqr-md-7 msqr-lg-6">
					<div class="feat feat-teaser Sale fx-bur-me">
						<img src="/documents/category/624/sale-360x210.jpg" alt="Sale" class="bg-img"/>
						<div class="content"><h2><a href="https://www.conos-store.de/sale/">SALE%</a></h2></div>
					</div>
				</div>
			</div>
{% endblock %}

