{% extends getPartial('page-design') %}

{% set showDefaultHomepage = config("Ceres.default.homepage") %}
{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set companyName  = config("Ceres.header.company_name") %}


{% block PartialHead %}
    <meta property="og:title" content="{{ companyName }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}" />
    <meta property="og:image" content="{% if ('http' in companyLogo) or ('layout/' in companyLogo) %}{{ companyLogo }}{% else %}{{ plugin_path('Ceres') }}/{{ companyLogo }}{% endif %}" />

    <link rel="canonical" href="{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}{{ item.documents[0].data | itemURL }}">

    <script type="application/ld+json">{"@context": "http://schema.org","@type": "WebSite","url": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}","potentialAction":{"@type": "SearchAction","target": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}/search?query={search_term}","query-input": "required name=search_term"}}</script>
{% endblock %}

{% block PageBody %}
<div class="container-max container-home">
	<div class="row">
		<div class="col-md-6">

     <div class="row">

			<a href="/hockey">
				<img class="img-fluid" src="/images/gallery/welcome-page/HP_eishockey.jpg" alt="Alptraum-Redesign">
			 </a>

     </div>

		</div>
		<div class="col-md-6">

			<a href="/tennis">
				<img class="img-fluid" src="/images/gallery/welcome-page/HP_tennis.jpg" alt="Alptraum-Redesign">
			 </a>
		</div>
	</div>
</div>


<div class="container-max">
  <div class="row cmp-hero">
      <div class="hero-main">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                      <a class="hero-category" href="/">
                          <img src="/images/gallery/welcome-page/Schanner-Webshop-Header_Nexus1N_950x355px.jpg" alt="Titel 1" class="img-fluid">
                          <div class="carousel-caption">
                              <h1>Titel 1</h1>
                          </div>
                      </a>
                  </div>
                  <div class="carousel-item">
                      <a class="hero-category" href="/">
                          <img src="/images/gallery/welcome-page/Schanner-Webshop-Header_Supreme1S_950x355px_BOOM.jpg" alt="Titel 2" class="img-fluid">
                          <div class="carousel-caption">
                              <h1>Titel 2</h1>
                          </div>
                      </a>
                  </div>
              </div>

              <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
              </ol>

              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="icon-prev" aria-hidden="true"></span>
                  <span class="sr-only">Zurück</span>
              </a>

              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="icon-next" aria-hidden="true"></span>
                  <span class="sr-only">Nächste</span>
              </a>

          </div>
      </div>
  </div>
  <!-- end slider -->
</div>

{% endblock %}

